* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 5rem;
  display: grid;
  place-content: center;
}

.btn1,
.btn2 {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.inc,
.dec {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn2 button {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
}
